---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Teaching</title>
</head>
<body>

2021-2022 Academic Year:<br>

BEng Student Mentor, CNNs Training using Large Kernels, Mr. Muhammad Saharish Islam and Mr. Yuyang Liu.

Teaching Assistant, 2022 Spring, City University of Hong Kong, <b>EE6453 Mobile Communication and Networks</b> (Postgraduate)<br>

Teaching Assistant, 2021 Fall, City University of Hong Kong, <b>EE6435 Multi-Dimensional Data Modeling and its Applications</b> (Postgraduate)<br>

<br>

2020-2021 Academic Year:<br>

MSc Student Thesis Mentor, UDC Image Enhancement with Deep Learning, Mr. Haozhe Bai<br>

Teaching Assistant, 2021 Spring, City University of Hong Kong, <b>EE5415 Mobile Applications Design and Development</b> (Postgraduate)<br>

Teaching Assistant, 2020 Fall, City University of Hong Kong, <b>EE3206 Java Programming and Applications</b> (Undergraduate)<br>

<br>

2019-2020 Academic Year:<br>

BEng Student Mentor, Child Face Prediction using Generative Adversarial Networks, Mr. Chun-Kit Wong and Mr. Chiu-Sing Pang.

MSc Student Thesis Mentor, Night Vision Enhancement through NIR Images with Deep Learning, Mr. Tingyu Lin.

Teaching Assistant, 2020 Spring, City University of Hong Kong, <b>EE5415 Mobile Applications Design and Development</b> (Postgraduate)<br>

Teaching Assistant, 2019 Fall, City University of Hong Kong, <b>EE5806 Topics in Image Processing</b> (Postgraduate)<br>

<br>

2018-2019 Academic Year:<br>

MSc Student Thesis Mentor, Video Colorization with Generative Adversarial Networks, Ms. Bei Li.

Teaching Assistant, 2019 Spring, City University of Hong Kong, <b>EE5808 Topics in Computer Graphics</b> (Postgraduate)<br>

Teaching Assistant, 2018 Fall, City University of Hong Kong, <b>EE3008 Principles of Communications</b> (Undergraduate)<br>

</body>
</html>
